body {
  height: auto;
  background: rgb(27, 26, 34);
}

.imgprincipal{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: -16vh;
    left: 0;
}

.contenier{
    background: rgb(27, 26, 34);
    width: 100%;
    position: absolute;
    left: 0;
    top: 40vh;

    height: 60vh;
}

.box{
    background: rgb(54, 51, 78);
    width: 70vw;
    height: auto;
    position: relative; 
    left: 10vw;
    top: -10vh;
    color: white;
    padding: 5%;
    border-radius: 30px;
}

.b3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    margin-top: 6vh;
    text-align: center;
    margin-bottom: -1vh;
}

.botao{
    height: 2vh;
    width: 8vw;
    background-color: rgb(18, 141, 18);
    padding: 1%;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 13px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    
    .imgprincipal{display: none;}
    
    .b3{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5vh;
        margin-top: 5vh;
        text-align: center;
    }
    
    .botao{
        height: 25px;
    }
    .contenier{
        background: rgb(27, 26, 34);
        height: auto;
        top: 4vh;
        min-height: 0;
    }
    
    body{background-color: rgb(27, 26, 34);}

    .box{
        width: 80%;
        left: 5vw;
        top: -2vh;
        height: auto;
        position: relative;
        min-height: 80vh;
    }
    
}

@media screen and (max-width: 1600px) {
    .botao{
        height: 2vh;
        width: 130px; 
    }
}





















    
    
    